---
import ThemeControl from '@/components/ThemeControl.astro';
import { defaultLang, languages } from '@/i18n/ui';
import { getLangFromUrl } from '@/i18n/utils';

interface Props {
  data: Array<object>
  themes: Array<object>
}

const { data, themes } = Astro.props;
const lang = getLangFromUrl(Astro.url);

const getUrl = (from, to) => {
  let pathName = Astro.url.pathname

  if (pathName.match(from) === null) {
    pathName = `/${from}${pathName}`
  }

  return pathName.replace(from, to);
}
---

<div class="menu">
  <ul class="menu__list">
    {data.map((item: any) => (
      <li class="menu__item">
        <a class="menu__link" href={lang === defaultLang ? item.link : `/${lang}${item.link}`}>
          {item.title}
        </a>
      </li>
    ))}
  </ul>

  <ul class="menu__languages">
    {Object.keys(languages).map((item) => (
      <li>
        <a
          class={`menu__language ${lang === item ? 'menu__language--active' : ''}`}
          href={item === defaultLang ? getUrl('en', 'ru') : getUrl('ru', 'en')}
        >
          {languages[item]}
        </a>
      </li>
    ))}
  </ul>

  <ThemeControl themes={themes} />
</div>

<style lang="scss">
  @use '@/styles/variables' as *;
  @use '@/styles/mixins' as *;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: 'Neue Machina', sans-serif;

    @media (max-width: $mdMax) {
      height: 100%;
    }

    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  .menu__list {
    @include ulres;

    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: $mdMax) {
      flex-direction: column;
      margin-top: auto;
    }

    @media (min-width: $lg) {
      margin-right: auto;
    }
  }

  .menu__link {
    font-size: 20px;

    @media (min-width: $lg) {
      font-size: 14px;
    }
  }

  .menu__languages {
    @include ulres;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: $mdMax) {
      margin-top: auto;
    }

    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  .menu__language {
    font-size: 18px;

    @media (min-width: $lg) {
      font-size: 14px;
    }

    &--active {
      color: var(--accent-color);
      cursor: default;
      pointer-events: none;
    }
  }
</style>
