---
import Menu from '@/components/Menu.astro';

interface Props {
	menu: Array<object>
  themes: Array<object>
  toggleText: string
}

const { menu, themes, toggleText } = Astro.props;
---

<nav class="navigation">
  <button
    class="navigation__toggle"
    type="button"
    aria-label={toggleText}
    aria-expanded="false"
    aria-controls="menu"
  >
    <span class="navigation__toggle-line"></span>
  </button>

  <dialog class="navigation__modal">
    <button
      class="navigation__toggle navigation__toggle--modal"
      type="button"
      aria-label={toggleText}
      aria-expanded="true"
      aria-controls="menu"
    >
      <span class="navigation__toggle-line"></span>
    </button>

    <Menu
      data={menu}
      themes={themes}
    />
  </dialog>

  <div class="navigation__menu">
    <Menu
      data={menu}
      themes={themes}
    />
  </div>
</nav>

<script>
  const navigation: HTMLElement | null = document.querySelector('.navigation');
  const modal: HTMLElement | null = document.querySelector('.navigation__modal');

  const openMenu = () => {
    modal?.showModal();
    modal?.addEventListener('click', menuClickHandler);
  }

  const closeMenu = () => {
    modal?.close();
    modal?.removeEventListener('click', menuClickHandler);
  }

  const menuClickHandler = (evt: MouseEvent) => {
    const link = (evt.target as HTMLElement).closest('.menu__link');

    if (link) {
      closeMenu();
    }
  }

  navigation?.addEventListener('click', (evt) => {
    const toggle = (evt.target as HTMLElement).closest('.navigation__toggle');

    if (toggle) {
      modal.open ? closeMenu() : openMenu();
    }
  })
</script>

<style lang="scss">
  @use '@/styles/variables' as *;
  @use '@/styles/mixins' as *;

  .navigation__toggle {
    @include inpres;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    padding: 4px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    @media (min-width: $lg) {
      display: none;
    }

    &--modal {
      position: absolute;
      right: 4px;
      top: 12px;
    }
  }

  .navigation__toggle-line {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--bg-main-color-invert);
    transition: background-color .2s .3s;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: var(--bg-main-color-invert);
      transform-origin: center;
      transition: translate .3s .3s, rotate .3s;
      content: '';
    }

    &::before {
      top: 8px;
    }

    &::after {
      bottom: 8px;
    }
  }

  .navigation__toggle[aria-expanded=true] .navigation__toggle-line {
    background-color: transparent;
    transition: background-color .2s;

    &::before,
    &::after {
      transition: translate .3s, rotate .3s .3s;
    }

    &::before {
      rotate: -45deg;
      translate: 0 -8px;
    }

    &::after {
      rotate: 45deg;
      translate: 0 8px;
    }
  }

  .navigation__modal {
    @media (max-width: $mdMax) {
      position: fixed;
      top: 8px;
      bottom: 8px;
      left: 8px;
      right: 8px;
      z-index: 10;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-main-color);
      box-shadow: 0 2px 10px 0 rgba(#000, .3);
      padding: 20px;
      transition: all .2s ease-in-out;
      align-items: center;

      width: auto;
      height: auto;
      max-width: none;
      max-height: none;
      border: none;
      color: inherit;
    }

    &[open] {
      display: flex;
    }

    @media (min-width: $lg) {
      display: none;
    }
  }

  .navigation__menu {
    @media (max-width: $mdMax) {
      display: none;
    }
  }
</style>
