---
interface Props {
  data: object;
}

const { data } = Astro.props;
---

<section class="presentation-block">
  <div class="presentation-block__wrapper container">
    <h2 class="presentation-block__title">
      <a href={data.link}>
        {data.title}
      </a>
    </h2>

    <ul class="presentation-block__list">
      {data.presentations.map((presentation: any) => (
        <li class="presentation-block__item">

            <h3 class="presentation-block__subtitle">
              <a
                class="presentation-block__link"
                href={presentation.link}
                set:html={presentation.title}
              />
            </h3>

          <sub class="presentation-block__sub">
            {presentation.time}
          </sub>
        </li>
      ))}
    </ul>
  </div>
</section>

<style lang="scss">
  @use '@/styles/variables' as *;

  .presentation-block {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--accent-color);
    color: var(--text-accent-color);

    @media (min-width: $lg) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  .presentation-block__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;

    @media (min-width: $lg) {
      margin-bottom: 32px;
    }
  }

  .presentation-block__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: $lg) {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .presentation-block__item {
    display: grid;

    @media (max-width: $mdMax) {
      grid-gap: 32px 16px;
      grid-template-columns: 1fr auto;
    }

    @media (min-width: $lg) {
      display: flex;
      gap: 16px;
    }

    &:not(:last-child)::after {
      width: 48px;
      height: 4px;
      background-color: var(--text-accent-color);
      content: '';

      @media (min-width: $lg) {
        margin-left: 16px;
        align-self: center;
      }
    }
  }

  .presentation-block__subtitle {
    margin: 0;
    font-family: 'Neue Machina';
    font-weight: 800;
    font-size: clamp(32px, 4vw, 48px);
    line-height: 1;
  }

  .presentation-block__link {
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .5;
    }
  }

  .presentation-block__sub {
    font-size: 18px;
  }
</style>
