---
interface Props {
  data: object;
}

const { data } = Astro.props;
---

<section class="work-block container">
    <h2 class="work-block__title">
      <a href={data.link}>
        {data.title}
      </a>
    </h2>

    {data.cards.map((card: any) => (
      <article class="work-card">
        <h3
          class="work-card__title"
          set:html={card.title}
        />

        <p
          class="work-card__description"
          set:html={card.description}
        />

        <ul class="work-card__list">
          {card.technologies.map((technology: any) => (
            <li class="work-card__item">
              {technology}
            </li>
          ))}
        </ul>

        <div class="work-card__links">
          {card.links.map(({ icon, link, title }: any) => (
            <a
              class="work-card__link"
              href={link}
              aria-label={title}
            >
              {icon}
            </a>
          ))}
        </div>
      </article>
    ))}
</section>

<style lang="scss">
  @use '@/styles/variables' as *;
  @use '@/styles/mixins' as *;

  .work-block {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $lg) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .work-block__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;

    @media (min-width: $lg) {
      margin-bottom: 32px;
    }
  }

  .work-card {
    display: grid;
    grid-gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 4px solid var(--bg-accent-color);

    @media (min-width: $lg) {
      grid-row-gap: 64px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  .work-card__title {
    margin: 0;
    font-family: 'Neue Machina';
    font-weight: 800;
    font-size: 24px;
    line-height: 1;

    @media (min-width: $lg) {
      font-size: 32px;
    }
  }

  .work-card__description {
    margin: 0;
    font-size: 16px;

    @media (min-width: $lg) {
      font-size: 18px;
    }
  }

  .work-card__list {
    @include ulres;

    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  .work-card__item {
    &:not(:last-child) {
      padding-right: 4px;
      border-right: 1px solid var(--text-main-color);
    }
  }
</style>
