---
import '@assets/shower/themes/ribbon/styles/styles.css';
import favicon from '@assets/icons/favicon.ico';
import faviconSvg from '@assets/icons/favicon.ico';
import { getLangFromUrl } from '@/i18n/utils';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const URL = {
	SITE: 'https://alexeycorr.dev/',
	ME: 'https://mastodon.social/@alexeycorr',
	TWITTER: '@alexeycorr'
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<title>{title}</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name="generator" content={Astro.generator}>

		<link rel="icon" href={favicon} sizes="any">
		<link rel="icon" href={faviconSvg} type="image/svg+xml">

		<link rel="canonical" href={URL.SITE}>
		<link rel="me" href={URL.ME}>

		<meta name="description" content={description}>
		<meta name="generator" content={Astro.generator}>

		<meta name="color-scheme" content="dark">
		<meta name="theme-color" content="#141414">

		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={URL.SITE}>
		<meta property="og:image" content={`${URL.SITE}assets/img/OG.png`}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@alexeycorr">
	</head>

	<body class="shower list">
		<header class="caption">
			<h1>{title}</h1>
			<p>{description}</p>
		</header>

		<slot />

		<div class="progress"></div>

		<script
			type="text/javascript"
			src="../../assets/shower/shower.js"
		/>
	</body>
</html>

<style is:global>
	.shower {
		--slide-ratio: calc(16 / 9);
		--color-key: #4cafa6;
		--color-fill: #333;

		background-color: #141414;
	}

	.slide {
		background-color: #141414;
		color: #e3e3e3;
	}

	.slide h2 {
		color: #e3e3e3;
	}

	.accent {
		color: #ff5757;
	}

	.success {
		color: #11af50;
	}

	.warning {
		color: #ffaa00;
	}
</style>
